/* -------------- global styling -------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*, *::before, *::after {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

:root{
  --white:#fff;
  --main: #8995FF;
  --light: rgb(243, 122, 180);
  /* 374153 */
  --bg: #1A202C;
  --lbg: #2d374b;
}

body{
  width: 100%;
  min-height: 100vh;
	height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: var(--white);
  background: var(--bg);
  overflow-x: hidden;
}

.i{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2.5em;
  font-weight: bold;
  padding: 10px 0;
}

h2{
  font-size: 2em;
  padding: 10px 0;
  color: var(--light);
}

.btn{
  color: var(--white);
  display: inline-flex;
  padding: 10px 20px;
  background: var(--light);
  margin: 20px 0;
  cursor: pointer;
  transition: .2s linear;
  border-radius: 5px; 
  border: none;
  font-size: 18px;
}

.btn:hover{
  box-shadow: 1px 2px 3px var(--main);
}

button:focus{
  outline: none;
}

/* -------------- header -------------- */

header, footer{
  height: 80px;
  padding: 10px;
  justify-content: space-evenly !important;
  background: var(--main);
}

a{
  margin:0 10px;
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  transition: .2s linear;
}

header a:hover{
  text-decoration: underline;
}

/* -------------- hero -------------- */
.hero{
  min-height: 500px;
  padding: 0 10px;
}

.bgsvg{
  height: 800px;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
}

.info{max-width:500px;}


/* -------------- features -------------- */
.features{
  margin: 150px auto;
  gap: 50px;
  padding: 10px;
}

.o{
  text-align: center;
  padding-bottom: 3em;
  max-width: 650px;
  margin: 0 auto;
}

.item{
  width: 300px;
  height: 300px;
  padding: 10px 20px;
  margin: 20px;
  gap: 10px;
  background: var(--lbg);
  border: solid 1px rgb(255, 255, 255, .5);
  border-radius: 5px;
}
.item img{
  height: 45px;
  width: 45px;
}

footer{
  position: relative;
  bottom: 0;
  margin-top: 100px;
  width: 100%;
}